    /* CSS do formulário de login */
    
    #div_topo {
        background-color: rgba(167, 167, 87, 0.5);
        border-radius: 8px;
    }
    
    #form_authentication {
        margin-left: 743px;
        padding: 10px;
    }
    /* CSS do formulário de cadastro */
    
    #div_centro {
        background-color: rgba(17, 78, 37, 0.1);
        border-radius: 20px;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        margin-top: 125px;
        margin-left: 400px;
        margin-right: 450px;
        padding: 10px;
    }
    
    #form_cadastro {
        padding: 38px;
    }
    
    .lbl_form1 {
        margin-right: 10px;
        height: 30px;
        font-size: 17px;
        color: rgba(155, 238, 210, 0.7);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .input_form1 {
        padding: 5px;
        width: 315px;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }
    
    #btn_cadastro {
        background-color: rgba(202, 110, 24, 0.9);
        color: rgba(13, 15, 14, 0.9);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        margin-top: 8px;
        margin-left: 58px;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        border-color: rgb(5, 5, 5);
        height: 30px;
        width: 200px;
    }
    /* fundo da tela */
    
    body {
        background-image: url(img/imgg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1500px;
    }
    /* media queries */
    
    @media screen and(max-width: 600px) {
        #div_topo {
            background-color: aquamarine;
        }
    }